html,
body {
  height: 100%; /* Đảm bảo chiều cao của body là 100% */
  /* overflow: hidden; */
  margin: 0; /* Bỏ margin mặc định */
  background-color: pink;
}
/* hình trái tim */
.container {
  background-color: red;
  display: inline-block;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 40%;
  top: 58%;
  width: 100px;
  /* hiệu ứng từ từ hiện lên */
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}
.container:before,
.container:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
}
.container:before {
  top: -50px;
  left: 0;
}
.container:after {
  left: 50px;
  top: 0;
}
/* tiêu đề sinh nhật */
.anhsinhnhat {
  margin: -5px 0px 0px 70px;
}
/* trang trí ảnh tiêu đề */
.tieude {
  display: block;
  width: 250px;
  height: 150px;
  /* border: 1px solid black; */
  margin: 0 0px 0 20px;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}
/* happy brithday */
h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 50px;
  text-shadow: 4px 0px 2px rgba(0, 0, 0, 0.44);
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}
/* Thanh Thuý */
h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 30px;
  text-shadow: 4px 0px 2px rgba(0, 0, 0, 0.44);
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}
/* Hộp quà */
.anhhopqua {
  width: 200px;
  height: 200px;
  margin-top: 240px;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}
/* bấm vào trang web nội dung sẽ tự hiện lên */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Nhạc trang web  */
#start-btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
